:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --font-family: "Roboto", "Arial", sans-serif;
  --font-family-alt: "Open Sans", "Arial", sans-serif;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html {
  background-image: var(--secondary-color);
}

#header {
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  & .logo-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: row wrap;
    gap: 10px;
  }

  &.container {	
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .tabs {
    position: relative;
    display: flex;
    background: whitesmoke;
    border-radius: 99px;
    padding: 5px;

    * {
      z-index: 2;
    }
   
    & .tab {
      align-items: center;
      justify-content: center;
      position: relative;
      border: none;
      color: var(--secondary-color);
      padding: 10px 20px;
      border-radius: 99px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;

      transition: background-color 0.25s ease-in;

      &:hover {
        background-color: #0000001e;
      }
      
    }
  }

input[type="radio"] { display: none;}

.tabs input[type="radio"]:checked + label { color: var(--primary-color); }

.tabs .selector{
  position: absolute;
  z-index: 1;
  background: var(--secondary-color);
  border-radius: 99px;
  transition: transform 0.25s ease-out;

  left: 0px;
  height: calc(100% - 10px);
  width: calc((100% - 30px) / 4);
}

input[id="radio-1"]:checked ~ .selector { transform: translateX(0); }
input[id="radio-2"]:checked ~ .selector { transform: translateX(100%); }
input[id="radio-3"]:checked ~ .selector { transform: translateX(200%); }
input[id="radio-4"]:checked ~ .selector { transform: translateX(300%); }

& .social-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  flex-flow: row wrap;

  & a img {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.15);
    }
  }
}
}

a img {
  aspect-ratio: 1 / 1;
  width: 40px;
}

/* #header:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.main-1 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  text-align: center;
  gap: 90px;

  .content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: center;
    gap: 20px;
  }

  & h1 {
    font-size: 2.5rem;
    font-family: var(--font-family-alt);
  }

  & p {
    font-size: 1.25rem;
    max-width: 600px;
    line-height: 1.6;
  }

  .btn-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  & button {
    appearance: none;
    background-color: transparent;
    color: var(--secondary-color);
    border: var(--secondary-color) 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;

    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      transform: scale(1.05);
    }
  }
}

.right-container {
  margin:0;
  padding:0;
}

.main_logo {

  aspect-ratio: auto;
  width: 300px;
  bottom: 0;
}

.separator {
  min-width: 500px;
  max-width: 1000px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  border: 1px solid rgba(155, 136, 230, 0.2) 0.2;
  text-align: center;
  border-radius: 10px;

  margin: 50px 0;

  background: linear-gradient(135deg, #c1c0c494, #9383d373);

  backdrop-filter: blur(5px);          /* flou de ce qu’il y a derrière */
  -webkit-backdrop-filter: blur(5px);
  box-shadow: #0000001a 0px 4px 30px; /* ombre portée */
}

.box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  padding: 20px 30px;
  border-radius: 5px;

  &:hover {
    background-color: rgba(109, 103, 133, 0.1);
  }
}
.box :first-child {
  font-size: 1.2rem;
  font-weight: 600;
}
.box :last-child {
  font-size: 1.05rem;
  font-style: italic;
}



/* PROJECTS */
.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .subtitle {
    font-size: 24px;
    font-weight: bold;
  
    background: linear-gradient(to right, #c5c4c9, #ac9de9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    /* Pour compatibilité Firefox */
    background-clip: text;
    color: transparent;
  }
}
.section-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* espace entre les éléments */
  text-align: center;
  margin-bottom: 20px;

  & .title {
    font-weight: extra-bold;
    font-size: 2rem;
    color: var(--primary-color);
  }

  & hr {
    flex: 1;
    height: 1px;
    background: linear-gradient(to right,transparent, rgb(180, 156, 156), rgb(0, 0, 0));
    border: none;
  }
}


.main-2 {
  width : 100%;
  background-color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  color: var(--primary-color);
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.spots {
  display: none;
}

.grid {
  display: grid;
  flex-flow: row wrap;
  grid-template-columns: repeat(4, minmax(170px, 1fr));
  gap: 50px;
  justify-items: stretch;
  align-items: stretch;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 1200px;

  & .cards {
    width: 100%;
    height: 100%;
    color: var(--secondary-color);
    filter: invert(1);
  }

  & .card {
    display : flex;
    flex-flow: column;
    padding: 20px;
    gap: 10px;
    background: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(0.98);
      border: 1px solid rgb(131, 187, 0);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    & img {
      aspect-ratio: 1 / 1;
      width: 50px;
      display: block;

    }
  }
}
    
.container {
  min-width: 300px;
  max-width: 1200px;
}

/* Carousel */

.caroussel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.caroussel-wrapper {
  width: 250px;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.card-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: max-content;
  height: 100%;
  perspective: 1000px;
  transition: transform 0.5s ease;
  gap:20px;
}

.card-inner {
  margin: 5px;
  width: 240px;
  height: 340px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 0 0 auto;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  background: linear-gradient(45deg, #222, #555);
  color: white;
  font-size: 5rem;
}

.card-back {
  background: white;
  transform: rotateY(180deg);
  flex-direction: column;
  padding: 10px;
  text-align: center;
  color: var(--secondary-color);
  font-size: 2rem;

  & img {
    width: 80%;
    height: auto;
    margin-bottom: 15px;
  }
}

.controls {
  display: flex;
  gap: 10px;

  & button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color, #222);
    color: var(--primary-color, #fff);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #555;
    }
  }
}

