/* styles.css */
:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --font-family: "Roboto", "Arial";
  --font-family-alt : "Opensans";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);

  background-color: var(--primary-color)
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#header button {
  border: none;
  appearance: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-family);
  letter-spacing: 3px;

  background-color: var(--primary-color);

  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: background-color 0.8s ease;
    text-shadow: var(--secondary-color) 1px 1px 2px;
  }
}

#header {
  width: 100%;
  z-index: 1;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

}

#content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 10vh;
  min-width: 1000px;
  max-height: min-content;
  padding: 20px 0;

  & .left-container {
    font-size: x-large;

      & .content-left {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px 20px 0 20px;
        gap: 15px;

        & .subtitle {
          line-height: 1.5;
        }

        .btn-container {
          margin-top: 20px;
          width: 100%;
          display: flex;
          justify-content: start;
          gap: 15px;

          & .btn {
            border: 1px solid var(--secondary-color);
            appearance: none;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
  
            &:hover {
              background-color: var(--secondary-color);
              color: var(--primary-color);
              transition: background-color 1s ease;
              border: none;
            }
          }
        }
      }
  }


  & .right-container {
    display: flex;
    justify-content: end;
    align-items: center;

    & img {
      max-width: 300px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

 
}

@media (max-width: 1000px) {
  #content {
    grid-template-columns: 1fr; /* une seule colonne */
    text-align: center;
    justify-content: center;
  }

  #content .left-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* centre le texte */
    justify-content: center;
    padding: 20px;
  }

  #content .btn-container {
    justify-content: center; /* centre les boutons */
  }

  #content .right-container {
    justify-content: center;
    margin-top: 20px; /* espace au-dessus de l’image */
  }

  #content .right-container img {
    width: 100%;        /* occupe toute la largeur dispo */
    max-width: 400px;   /* limite pour éviter une image trop grande */
  }
}