:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --font-family: "Roboto", "Arial", sans-serif;
  --font-family-alt: "Open Sans", "Arial", sans-serif;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html {
  background-image: var(--secondary-color);
}

#header {
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  & .logo-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: row wrap;
    gap: 10px;
  }

  &.container {	
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .tabs {
    position: relative;
    display: flex;
    background: whitesmoke;
    border-radius: 99px;
    padding: 5px;

    * {
      z-index: 2;
    }
   
    & .tab {
      align-items: center;
      justify-content: center;
      position: relative;
      border: none;
      color: var(--secondary-color);
      padding: 10px 20px;
      border-radius: 99px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;

      transition: background-color 0.25s ease-in;

      &:hover {
        background-color: #0000001e;
      }
      
    }
  }

input[type="radio"] { display: none;}

.tabs input[type="radio"]:checked + label { color: var(--primary-color); }

.tabs .selector{
  position: absolute;
  z-index: 1;
  background: var(--secondary-color);
  border-radius: 99px;
  transition: transform 0.25s ease-out;

  left: 0px;
  height: calc(100% - 10px);
  width: calc((100% - 30px) / 4);
}

input[id="radio-1"]:checked ~ .selector { transform: translateX(0); }
input[id="radio-2"]:checked ~ .selector { transform: translateX(100%); }
input[id="radio-3"]:checked ~ .selector { transform: translateX(200%); }
input[id="radio-4"]:checked ~ .selector { transform: translateX(300%); }

& .social-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  flex-flow: row wrap;

  & a img {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.15);
    }
  }
}
}

a img {
  aspect-ratio: 1 / 1;
  width: 40px;
}

/* #header:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.main-1 {
  min-width: 300px;
  /* min-height: 70vh; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  text-align: center;
  padding: 0;
  gap: 90px;

  .content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: center;
    gap: 20px;
  }

  & h1 {
    font-size: 2.5rem;
    font-family: var(--font-family-alt);
  }

  & p {
    font-size: 1.25rem;
    max-width: 600px;
    line-height: 1.6;
  }

  .btn-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  & button {
    appearance: none;
    background-color: transparent;
    color: var(--secondary-color);
    border: var(--secondary-color) 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;

    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      transform: scale(1.05);
    }
  }
}

.right-container {
  margin:0;
  padding:0;
}

.main_logo {

  aspect-ratio: auto;
  width: 300px;
  bottom: 0;
}

.separator {
/* 
  position: absolute; */
  min-width: 500px;
  max-width: fit-content;
  /* min-height: 70vh; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  border: 1px solid rgba(155, 136, 230, 0.2) 0.2;
  text-align: center;
  border-radius: 5px;

  margin: 30px 0;

  /*Position between main-1 and main-2*/
  /* bottom: 100%;
  transform: translateY(110%);  */

  background: rgba(169, 146, 231, 0.2); /* transparent blanc */
  backdrop-filter: blur(5px);          /* flou de ce qu’il y a derrière */
  -webkit-backdrop-filter: blur(5px);
  box-shadow: #0000001a 0px 4px 30px; /* ombre portée */
}

.box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  padding: 20px 30px;
  border-radius: 5px;

  &:hover {
    background-color: rgba(109, 103, 133, 0.1);
  }
}
.box :first-child {
  font-size: 1.2rem;
  font-weight: 600;
}
.box :last-child {
  font-size: 1.05rem;
  font-style: italic;
}



/* PROJECTS */

.section-title {
  font-size: 2rem;
}
.main-2 {
  /* position:relative; */
  width : 100%;
  min-width: 300px;
  /* min-height: 70vh; */

  background-color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  color: var(--primary-color);

  justify-items: center;
  align-items: center;
  text-align: center;

  padding: 50px 0;
}

#mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.grid {
  display: grid;
  flex-flow: row wrap;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 60px;
  justify-items: center;
  align-items: start;
  text-align: center;

  max-height: 1000px;
  max-width: 800px;
  min-width: 300px;

  & .cards {
    display: flex; 
    flex-direction: column;
    gap: 10px;
  }

  & .card {
    display : flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 20px;
    gap: 10px;
    aspect-ratio: auto;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--secondary-color);

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    & img {
      aspect-ratio: 1 / 1;
      width: 80px;
      height: auto;
      display: block;
    }
  }
}